
@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>担当者削除確認画面</title>
</head>
<body>
    <h2>担当者情報メンテナンス</h2>
    <form method="post">
        <br>
        下記の担当者情報を削除します。<br>
        内容を確認の上、「削除」ボタンを押してください。<br><br>
        <table border="1">
            <tr><td>社員番号</td><td>担当者氏名</td></tr>
            <tr>
                <td>
                    <input type="hidden" name="empno" value="@ViewBag.EmpNo">
                    @ViewBag.EmpNo
                </td>
                <td>@ViewBag.EmpName</td>
            </tr>

        </table>
        <br>
        <input type="submit" value="削除" formaction="/Employee/Delete2">
        <input type="submit" value="戻る" formaction="/Employee/List2">
    </form>
</body>
</html>

