
@{
    ViewBag.title = "メニュー";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
        メニューを選択してください。
</body>
</html>
