<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=301880 を参照してください
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PatisserieCestBon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms timeout="20" slidingExpiration="true" /> <!-- フォーム認証タイムアウト20分 -->
    </authentication>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <PatisserieCestBon.Properties.Settings>
      <setting name="p001_error_Auth" serializeAs="String">
        <value>入力された顧客IDまたはパスワードが誤っています。</value>
      </setting>
      <setting name="p001_error_Recuired" serializeAs="String">
        <value>顧客ID（パスワード）が入力されていません。</value>
      </setting>
      <setting name="p002_error_FormatTelNo" serializeAs="String">
        <value>電話番号は「xxxx-yyyy-zzzz」の形式で入力してください。</value>
      </setting>
      <setting name="p002_error_FormatEmail" serializeAs="String">
        <value>メールアドレスは「xxxx@yyyy」の形式で入力してください。</value>
      </setting>
      <setting name="p002_error_CharTypeKana" serializeAs="String">
        <value>顧客担当者名かなは、 全角ひらがなで入力してください。</value>
      </setting>
      <setting name="p002_error_CharTypeEmail" serializeAs="String">
        <value>メールアドレスは、半角英数字と記号で入力してください。</value>
      </setting>
      <setting name="p002_error_CharTypeTelNo" serializeAs="String">
        <value>電話番号は、半角数字と半角ハイフンで入力してください。</value>
      </setting>
      <setting name="p002_error_RecuiredCompanyName" serializeAs="String">
        <value>会社名を入力してください。</value>
      </setting>
      <setting name="p002_error_RecuiredAddress" serializeAs="String">
        <value>住所を入力してください。
</value>
      </setting>
      <setting name="p002_error_RecuiredTelNo" serializeAs="String">
        <value>電話番号を入力してください。
</value>
      </setting>
      <setting name="p002_error_RecuiredCustomerName" serializeAs="String">
        <value>氏名（漢字）を入力してください。
</value>
      </setting>
      <setting name="p002_error_RecuiredCustomerKana" serializeAs="String">
        <value>氏名（かな）を入力してください。
</value>
      </setting>
      <setting name="p002_error_RecuiredPassword" serializeAs="String">
        <value>パスワードを入力してください。
</value>
      </setting>
      <setting name="p002_error_RequiredRetypePassword" serializeAs="String">
        <value>確認用パスワードを入力してください。
</value>
      </setting>
      <setting name="p002_error_MatchRetypePassword" serializeAs="String">
        <value>パスワードが確認用パスワードと一致しません。
</value>
      </setting>
      <setting name="p007_error_ZeroQuantity" serializeAs="String">
        <value>数量は0より大きい値を入力してください。
</value>
      </setting>
      <setting name="p007_error_AppropriateQuantity" serializeAs="String">
        <value>在庫数量より多い数量を指定することはできません。
</value>
      </setting>
      <setting name="p007_error_AppropriateDeliveryDate" serializeAs="String">
        <value>正しい希望納期を入力してください。
</value>
      </setting>
      <setting name="p007_error_FormatQuantity" serializeAs="String">
        <value>数量は整数で入力してください。
</value>
      </setting>
      <setting name="p007_error_FormatDeliveryDate" serializeAs="String">
        <value>希望納期は「yyyy/mm/dd」の形式で入力してください。
</value>
      </setting>
      <setting name="p007_error_Recuired" serializeAs="String">
        <value>数量（納期）を入力してください。
</value>
      </setting>
      <setting name="p009_error_Recuired" serializeAs="String">
        <value>数量（納期）を入力してください。
</value>
      </setting>
      <setting name="p009_error_FormatQuantity" serializeAs="String">
        <value>数量は整数で入力してください。
</value>
      </setting>
      <setting name="p009_error_FormatDeliveryDate" serializeAs="String">
        <value>希望納期は「yyyy/mm/dd」の形式で入力してください。
</value>
      </setting>
      <setting name="p009_error_ZeroQuantity" serializeAs="String">
        <value>数量は0より大きい値を入力してください。
</value>
      </setting>
      <setting name="p009_error_CartReCheck" serializeAs="String">
        <value>数量・納期を変更した場合は、再見積を実行してから注文ボタンを押してください。
</value>
      </setting>
      <setting name="p009_error_AppropriateDeliveryDate" serializeAs="String">
        <value>正しい希望納期を入力してください。
</value>
      </setting>
      <setting name="p009_error_AppropriateQuantity" serializeAs="String">
        <value>在庫が不足するため、ご注文を確定できません。
</value>
      </setting>
      <setting name="p011_error_CannotCancel" serializeAs="String">
        <value>出荷済の在庫があるため、このご注文はキャンセルできません。
</value>
      </setting>
      <setting name="p013_error_Auth" serializeAs="String">
        <value>入力された社員番号またはパスワードが誤っています。</value>
      </setting>
      <setting name="p013_error_Recuired" serializeAs="String">
        <value>社員番号（パスワード）が入力されていません。
</value>
      </setting>
      <setting name="p015_error_NoMatch" serializeAs="String">
        <value>入力された条件に適合する受注情報は存在しません。
</value>
      </setting>
      <setting name="p015_error_FormatCustomerId" serializeAs="String">
        <value>顧客IDは数値で入力してください。
</value>
      </setting>
      <setting name="p015_error_FormatOrderNo" serializeAs="String">
        <value>注文番号は数値で入力してください。
</value>
      </setting>
      <setting name="p015_error_LengthCustomerId" serializeAs="String">
        <value>顧客IDは6桁以内で入力してください。
</value>
      </setting>
      <setting name="p015_error_LengthOrderNo" serializeAs="String">
        <value>注文番号は6桁以内で入力してください。
</value>
      </setting>
      <setting name="p015_error_FormatDate" serializeAs="String">
        <value>納期（受注日時）のFrom・Toは「yyyy/mm/dd」の形式で入力してください。
</value>
      </setting>
      <setting name="p015_error_AppropriateDeliveryDate" serializeAs="String">
        <value>納期（From）は、納期（To）と同じか、それよりも前の日付を指定してください。
</value>
      </setting>
      <setting name="p015_error_AppropriateOrderDate" serializeAs="String">
        <value>受注日時（From）は、受注日時（To）と同じか、それよりも前の日付を指定してください。
</value>
      </setting>
      <setting name="p017_error_ShortageStock" serializeAs="String">
        <value>在庫数量が不足しています。
</value>
      </setting>
      <setting name="p019_info_UpdateSuccess" serializeAs="String">
        <value>在庫情報を更新しました。
</value>
      </setting>
      <setting name="p020_error_StockAlreadyZero" serializeAs="String">
        <value>在庫数量の減少に失敗しました。
</value>
      </setting>
      <setting name="p020_error_UpdateStock" serializeAs="String">
        <value>在庫が不足するため減少できません。
</value>
      </setting>
      <setting name="p020_error_CharTypeStock" serializeAs="String">
        <value>数量には数値を入力してください。
</value>
      </setting>
      <setting name="p020_error_FormatReceiptDate" serializeAs="String">
        <value>入荷予定日は「yyyy/mm/dd」形式で入力してください。
</value>
      </setting>
      <setting name="p021_info_AddSuccess" serializeAs="String">
        <value>担当者情報を登録しました。
</value>
      </setting>
      <setting name="p021_info_UpdateSuccess" serializeAs="String">
        <value>担当者情報を更新しました。
</value>
      </setting>
      <setting name="p021_info_DeleteSuccess" serializeAs="String">
        <value>担当者情報を削除しました。
</value>
      </setting>
      <setting name="p021_error_AlreadyDeletedEmployee" serializeAs="String">
        <value>該当の担当者情報はすでに削除されています。
</value>
      </setting>
      <setting name="p021_error_NotChecked" serializeAs="String">
        <value>削除を行う場合は、削除したい担当者を選択してください。
</value>
      </setting>
      <setting name="p022_error_DuplicatedEmployeeId" serializeAs="String">
        <value>入力された社員番号はすでに登録されています。
</value>
      </setting>
      <setting name="p022_error_MatchRetypePassword" serializeAs="String">
        <value>パスワードが確認用パスワードと一致しません。
</value>
      </setting>
      <setting name="p022_error_RecuiredRetypePassword" serializeAs="String">
        <value>確認用パスワードを入力してください。
</value>
      </setting>
      <setting name="p022_error_FormatEmployeeId" serializeAs="String">
        <value>社員番号は1000から始まる4桁の数値で入力してください。
</value>
      </setting>
      <setting name="p022_error_CharTypePassword" serializeAs="String">
        <value>パスワードは半角英数字と記号のみで入力してください。
</value>
      </setting>
      <setting name="p022_error_RecuiredEmpNo" serializeAs="String">
        <value>社員番号を入力してください。
</value>
      </setting>
      <setting name="p022_error_RecuiredEmpName" serializeAs="String">
        <value>担当者氏名を入力してください。
</value>
      </setting>
      <setting name="p022_error_RecuiredPassword" serializeAs="String">
        <value>パスワードを入力してください。
</value>
      </setting>
      <setting name="p024_error_RecuiredEmpName" serializeAs="String">
        <value>担当者氏名を入力してください。
</value>
      </setting>
      <setting name="p024_error_RecuiredPassword" serializeAs="String">
        <value>パスワードを入力してください。
</value>
      </setting>
      <setting name="p024_error_MatchRetypePassword" serializeAs="String">
        <value>パスワードが確認用パスワードと一致しません。
</value>
      </setting>
      <setting name="p024_error_RequiredRetypePassword" serializeAs="String">
        <value>確認用パスワードを入力してください。
</value>
      </setting>
      <setting name="p024_error_CharTypePassword" serializeAs="String">
        <value>パスワードは半角英数字と記号のみで入力してください。
</value>
      </setting>
      <setting name="p027_info_UpdateSuccess" serializeAs="String">
        <value>顧客情報を更新しました。
</value>
      </setting>
      <setting name="p027_info_DeleteSuccess" serializeAs="String">
        <value>顧客情報を削除しました。
</value>
      </setting>
      <setting name="p027_error_AlreadyDeletedCustomer" serializeAs="String">
        <value>該当の顧客情報はすでに削除されています。
</value>
      </setting>
      <setting name="p028_error_Inappropriate" serializeAs="String">
        <value>入力された情報が不正です。
</value>
      </setting>
      <setting name="p028_error_FormatTelNo" serializeAs="String">
        <value>電話番号は「xxxx-yyyy-zzzz」の形式で入力してください。
</value>
      </setting>
      <setting name="p028_error_FormatEmail" serializeAs="String">
        <value>メールアドレスは「xxxx@yyyy」の形式で入力してください。
</value>
      </setting>
      <setting name="p028_error_CharTypeKana" serializeAs="String">
        <value>顧客担当者名かなは、 全角ひらがなで入力してください。
</value>
      </setting>
      <setting name="p028_error_CharTypeEmail" serializeAs="String">
        <value>メールアドレスは、半角英数字と記号で入力してください。
</value>
      </setting>
      <setting name="p028_error_CharTypeTelNo" serializeAs="String">
        <value>電話番号は、半角数字と半角ハイフンで入力してください。
</value>
      </setting>
      <setting name="p028_error_RecuiredCompanyName" serializeAs="String">
        <value>会社名を入力してください。
</value>
      </setting>
      <setting name="p028_error_RecuiredAddress" serializeAs="String">
        <value>住所を入力してください。
</value>
      </setting>
      <setting name="p028_error_RecuiredTelNo" serializeAs="String">
        <value>電話番号を入力してください。
</value>
      </setting>
      <setting name="p028_error_RecuiredCustomerName" serializeAs="String">
        <value>氏名（漢字）を入力してください。
</value>
      </setting>
      <setting name="p028_error_RecuiredCustomerKana" serializeAs="String">
        <value>氏名（かな）を入力してください。
</value>
      </setting>
      <setting name="p028_error_RecuiredPassword" serializeAs="String">
        <value>パスワードを入力してください。
</value>
      </setting>
      <setting name="p028_error_RequiredRetypePassword" serializeAs="String">
        <value>確認用パスワードを入力してください。
</value>
      </setting>
      <setting name="p028_error_MatchRetypePassword" serializeAs="String">
        <value>パスワードが確認用パスワードと一致しません。
</value>
      </setting>
      <setting name="p031_info_AddSuccess" serializeAs="String">
        <value>商品情報を登録しました。
</value>
      </setting>
      <setting name="p031_info_UpdateSuccess" serializeAs="String">
        <value>商品情報を更新しました。
</value>
      </setting>
      <setting name="p031_info_DeleteSuccess" serializeAs="String">
        <value>商品情報を削除しました。
</value>
      </setting>
      <setting name="p031_error_ThereIsStockOrOrder" serializeAs="String">
        <value>その商品は削除できません。
</value>
      </setting>
      <setting name="p031_error_AlreadyDeletedItem" serializeAs="String">
        <value>該当商品情報はすでに削除されています。
</value>
      </setting>
      <setting name="p031_error_NotChecked" serializeAs="String">
        <value>削除を行う場合は、削除したい商品を選択してください。
</value>
      </setting>
      <setting name="p032_error_DupulicatedItem" serializeAs="String">
        <value>入力された商品番号または商品名はすでに登録されています。
</value>
      </setting>
      <setting name="p032_error_FormatItemNo" serializeAs="String">
        <value>商品番号は4桁の整数で入力してください。
</value>
      </setting>
      <setting name="p032_error_FormatUnitPrice" serializeAs="String">
        <value>単価は整数で入力してください。
</value>
      </setting>
      <setting name="p032_error_FormatSize" serializeAs="String">
        <value>寸法は「〇〇x〇〇」の形式で入力してください。
</value>
      </setting>
      <setting name="p032_error_RecuiredItemNo" serializeAs="String">
        <value>商品番号を入力してください。
</value>
      </setting>
      <setting name="p032_error_RecuiredItemName" serializeAs="String">
        <value>商品名を入力してください。
</value>
      </setting>
      <setting name="p032_error_RecuiredPhotoUrl" serializeAs="String">
        <value>商品画像（URL）を入力してください。
</value>
      </setting>
      <setting name="p032_error_RecuiredUnitPrice" serializeAs="String">
        <value>単価を入力してください。
</value>
      </setting>
      <setting name="p032_error_RecuiredSize" serializeAs="String">
        <value>寸法を入力してください。
</value>
      </setting>
      <setting name="p034_error_RecuiredItemName" serializeAs="String">
        <value>商品名を入力してください。
</value>
      </setting>
      <setting name="p034_error_RecuiredPhotoUrl" serializeAs="String">
        <value>商品画像（URL）を入力してください。
</value>
      </setting>
      <setting name="p034_error_RecuiredUnitPrice" serializeAs="String">
        <value>単価を入力してください。
</value>
      </setting>
      <setting name="p034_error_RecuiredSize" serializeAs="String">
        <value>寸法を入力してください。
</value>
      </setting>
      <setting name="p034_error_DupulicatedItem" serializeAs="String">
        <value>入力された商品名はすでに登録されています。
</value>
      </setting>
      <setting name="p034_error_FormatUnitPrice" serializeAs="String">
        <value>単価は整数で入力してください。
</value>
      </setting>
      <setting name="p034_error_FormatSize" serializeAs="String">
        <value>寸法は「〇〇x〇〇」の形式で入力してください。
</value>
      </setting>
      <setting name="p009_error_CartReCheckDelete" serializeAs="String">
        <value>商品を削除する場合は、再見積を実行してから注文ボタンを押してください。</value>
      </setting>
    </PatisserieCestBon.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>