@model PatisserieCestBon.Models.Stock
@{
    Layout = null;
    var stock = Model;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StockUpdate1</title>
</head>
<body>
    <h2>在庫情報メンテナンス</h2>
    <p>在庫情報を更新します。</p>
    <p>商品が入荷した場合は、入荷数量を入力して、「入荷」ボタンを押してください。</p>
    <p>在庫を減らしたい場合は、減少数量を入力して、「減少」ボタンを押してください。</p>
    <p>入荷予定日を更新したい場合は、入荷予定日を入力して、「更新」ボタンを押してください。</p>
    <table border="1">
        <tr>
            <th>商品番号</th>
            <td>
                @(ViewBag.stock.itemNo)
            </td>
        </tr>
        <tr>
            <th>商品名</th>
            <td>
                @(ViewBag.stock.itemName)
            </td>
        </tr>
        <tr>
            <th>数量</th>
            <td>
                @(ViewBag.stock.stock1)
            </td>
        </tr>
        <tr>
            <th>入社日</th>
            <td>
                @*@(ViewBag.emp.receiptDate)*@
            </td>
        </tr>
    </table>
    @using (Html.BeginForm("StockUpdate2", "Stock", FormMethod.Post))
    {
        <p>数量</p>@Html.TextBoxFor(model => stock.stock1, new { stock.itemNo})<input type="submit" value="入荷" /><input type="submit" value="減少" />
    }
    
</body>
</html>
